@define-color bg #06100c;
@define-color fg #d6c9b1;
@define-color gray1 #6f806d;
@define-color gray2 #616865;
@define-color gray3 #9ba4bb;
@define-color gray4 #9d917a;
@define-color gray5 #857961;
@define-color fg_bright #eed59b;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}