themes {
    current {
        text_unselected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        text_selected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        ribbon_selected {
            base 97 104 101
            background 145 165 140
            emphasis_0 170 158 123
            emphasis_1 151 141 119
            emphasis_2 170 157 126
            emphasis_3 192 201 231
        }
        ribbon_unselected {
            base 97 104 101
            background 214 201 177
            emphasis_0 170 158 123
            emphasis_1 214 201 177
            emphasis_2 192 201 231
            emphasis_3 170 157 126
        }
        table_title {
            base 145 165 140
            background 0
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        table_cell_selected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        table_cell_unselected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        list_selected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        list_unselected {
            base 214 201 177
            background 97 104 101
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 145 165 140
            emphasis_3 170 157 126
        }
        frame_selected {
            base 145 165 140
            background 0
            emphasis_0 151 141 119
            emphasis_1 165 201 202
            emphasis_2 170 157 126
            emphasis_3 0
        }
        frame_highlight {
            base 151 141 119
            background 0
            emphasis_0 170 157 126
            emphasis_1 151 141 119
            emphasis_2 151 141 119
            emphasis_3 151 141 119
        }
        exit_code_success {
            base 145 165 140
            background 0
            emphasis_0 165 201 202
            emphasis_1 97 104 101
            emphasis_2 170 157 126
            emphasis_3 192 201 231
        }
        exit_code_error {
            base 170 158 123
            background 0
            emphasis_0 157 145 122
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 170 157 126
            player_2 192 201 231
            player_3 0
            player_4 157 145 122
            player_5 165 201 202
            player_6 0
            player_7 170 158 123
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
